/* open sans font */ 

.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;}

/* shared styles */ 
.text-primary{
  color: #FD6E0A;
} 
.dark-2{
  color: hwb(111 35% 62%);
} 
.btn-primary{
   background-color: #FD6E0A; 
   color: aliceblue; 
   font-weight: 700; 
   border: none;
   font-size: 20px; 
   padding: 18px 35px; 
   border-radius: 8px; 
  } 
  .section-title{
     font-size: 35px; 
     font-weight: bold;
     color: black;
     } 
     .section-description{
       font-size: 20px; 
       font-weight: 700; 
       color: #757575;
     } 
     .secondary-bg{
       background-color: #fbf3ee;
     } 

     .text-center{
        text-align: center;  
      
      } 
      
   /* Header */ 
   .header{
    background-image: url("../images/developer.png"),url("../images/header_bg.png"); 
    background-repeat: no-repeat; 
    background-position:top left, bottom right;
   }

/* nav styles */
nav{
   display: flex; 
   align-items: center;
   justify-content: space-between; 
   margin: 0px 200px;
} 
.nav-title{
   font-weight: 800; 
   font-size: 45px; 

}  
nav ul{
  display: flex; 
  align-items: center;
}
nav ul li{
    list-style: none;  
    margin-right: 51px; 
    }
 
nav li a{
   text-decoration: none; 
   font-size: 20px; 
   font-weight: 500;
  } 
  /* banner-styles */
  .banner{
    display: flex; 
    justify-content: space-between; 
    margin: 0 35px 0 230px;
    } 
    .banner-content{
      max-width: 585px; 
      max-height: 344; 
    }
  .banner-grettings{ 
    font-size: 45px;
   font-weight: 600;
  } 
  .banner-title{
    font-size: 85px;
    font-weight: bold;
  } 
  .banner-description{
    font-size: 20px; 
    font-weight: 700;
  } 
  .banner-profile-pic{ 
    height: 676; 
    width: 600;

  }  
  /* Main styles */
   
    main{
     max-width: 1040px; 
      margin: 0 auto;
    }
  

  /* about atyles */ 
  .about{
    border-radius: 15px; 
    padding: 130px 150px;
    text-align: center; 
    margin-top: 130px;
}  
.item-description{
  font-weight: bold; 
  
   } 
.about-item{
  display: flex; 
  justify-content: space-between; 
  align-items: center; 
  margin-top: 30px;
} 
/* skills styles */ 
main section{
  margin-top: 130px ;
  margin-bottom: 130px;
}
  
 /* skills section style */ 
 .skill-container{
  display: flex;
  gap: 25px;
 } 
 .skill{
  padding: 30px; 
  box-shadow: 0 6px 50px 0px rgba(0, 0, 0, 0);
  border-radius: 6px;
 }



 
  

  
  
